body {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 26px;
    color: #333;
    margin: 30px;
    padding: 10x;
    background-image: url("background1.jpg");
    background-position: center;

  }
  
  h1 {
    color:aqua
  }
  
  p {
    color:blanchedalmond
  }
  

  h2 {
    color:aqua
  }

  li {
    color:blanchedalmond
  }